@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
/* 
   v1.0 | 20220516
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0;
	font-size: 100%; font: inherit; font-family: 'Noto Sans KR', 'Malgun Gothic', "맑은고딕", "Noto Sans KR", Dotum, sans-serif; line-height: 110%; letter-spacing: -.0313rem; color: #1e1e1e;
	vertical-align: baseline;
}
html, body {
  width: 100%; height: 100vh;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
div { display: block }
article, aside, footer, header, hgroup, main, nav, section { display: block }
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
address { display: block; }
figcaption { display: block }
hr {
  display: block; overflow: hidden;
  unicode-bidi: isolate;
  margin-block-start: 0.5em; margin-block-end: 0.5em; margin-inline-start: auto; margin-inline-end: auto;
  border-style: inset; border-width: 1px
}
map {
  display: inline
}
img, video {
  max-width: 100%;
  height: auto;
}
img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
}
video {
  object-fit: contain;
}
video:-webkit-full-page-media {
  margin: auto; position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  max-height: 100%; max-width: 100%;
}
img {
  border-style: none;
}
button {
  background: none;
  border: 0;
}
strong {
  font-weight: 700; line-height: 140%;
}
p {
  font-size: var(--font-size-14); font-weight: 400;
}

/* form elements */
form {
  display: block;
  margin-top: 0__qem;
}
:-webkit-any(table, thead, tbody, tfoot, tr) > form:-internal-is-html {
  display: none !important;
}
label {
  cursor: default;
}
legend {
  display: block;
  padding-inline-start: 2px;
  padding-inline-end: 2px;
  border: none
}
select { 
  border-radius:0;          /* 아이폰 사파리 보더 없애기 */ 
  -webkit-appearance:none;  /* 화살표 없애기 for chrome*/ 
     -moz-appearance:none;  /* 화살표 없애기 for firefox*/ 
          appearance:none   /* 화살표 없애기 공통*/ 
}


.clearfix:after {
  content: " "; 
  display: block; 
  clear: both;
}

.inb {
  font-size: 0%;
}
.inb > * {
  display: inline-block;
  vertical-align: top;
}


h2 {
  font-size: var(--font-size-26); font-weight: 700;
  line-height: 140%;
}
h3 {
  font-size: var(--font-size-24); font-weight: 700;
  line-height: 140%;
}
h4 {
  font-size: var(--font-size-22); font-weight: 700;
  line-height: 140%;
}
p {
  font-size: var(--font-size-15); font-weight: 400;
  line-height: 140%;
}

.mgT0 {
  margin-top: 0px !important;
}
.mgT10 {
  margin-top: .625rem !important;
}
.mgT30 {
  margin-top: 1.875rem !important;
}

.pdT5 {
  padding-top: .3125rem !important;
}
.pdT10 {
  padding-top: .625rem !important;
}

.fc-point {
  color: var(--color-point);
}
.fc-red {
  color: var(--color-red);
}
.fc-blue {
  color: var(--color-blue);
}
.fc-gray {
  color: var(--color-gray);
}


/******************************************************************
           input & textarea Style Css 
***********************/
input[type=text], input[type=tel], input[type=email], input[type=password], input[type=url], input[type=number], input[type=search], input[type=date],
textarea {
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; 
  outline: none; 
  font-family: sans-serif;
}
/* PLACEHOLDER */
::-webkit-input-placeholder { color: #aaa; }
     :-ms-input-placeholder { color: #aaa; }
         ::-moz-placeholder { color: #aaa; }
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { color: transparent; }
          input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder { color: transparent; }
                  input:focus::-moz-placeholder, textarea:focus::-moz-placeholder { color: transparent; }
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    /** 휴대폰 번호등 넘버로 사용할 경우 버튼 안나타나게 작업하는용 */
}
input {
  vertical-align: middle;
  outline: none; border:none;
  border-radius: 0;
}
input:focus {
  border-color: var(--color-point);
}
.input01 {
  width: 100%; height: 39px; line-height: 39px;
  border:1px solid var(--color-light-gray); border-radius: 3px;
  background-color: var(--color-white);
  padding:0 5%;
  font-size: var(--font-size-14); font-weight: 400;
}


/******************************************************************
           checkbox Style Css 
***********************/
.choiceChk, .yesChk, .noChk {
  position: relative;
  display: inline-block;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
}
.choiceChk input, .yesChk input, .noChk input {
  position: absolute; top: 0px; left: 0px; z-index: 1;
  opacity: 0;
  width: 100px; height: 35px;
  padding: 0px; margin: 0px;
}
.choiceChk label {
  position: relative;
  display: block;
  min-height: 37px;
  height: 37px; line-height: 37px; width: 100px;
  z-index: 2;
  border: 1px solid var(--color-point);
  font-size: var(--font-size-12); font-weight: 400;
}
.choiceChk.man label {
  border-color: var(--color-light-gray);
  border-right: 0px;
}
.choiceChk.wom label {
  border-color: var(--color-light-gray);
  border-left: 0px;
}
.yesChk label,
.noChk label {
  position: relative;
  display: block;
  width: 100px; height: 38px; min-height: 38px; line-height: 38px;
  font-size: var(--font-size-12); font-weight: 400;
  z-index: 2;
}
.choiceChk input:checked+label,
.yesChk input:checked+label,
.noChk input:checked+label {
  background-color: var(--color-point);
  color: var(--color-white);
  z-index: 1;
}
.choiceChk.man input:checked+label {
  border-color: var(--color-point);
  background-color: var(--color-point);
}
.choiceChk.wom input:checked+label {
  border-color: var(--color-point);
  background-color: var(--color-point);
}


/******************************************************************
           selectBox Style Css 
***********************/
select {
  -webkit-appearance: none;  /* 네이티브 외형 감추기 */
     -moz-appearance: none;
          appearance: none;
  background: url('') no-repeat 95% 50%;  /* 화살표 모양의 이미지 */ 
  background-size: 14px;
}
/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand { 
  display: none;
}

select {
  padding: 0 0 1px;
  border: 0; border-radius: 0;
  width: 100%;
  font-weight: 400;
  cursor: pointer;
}
select:focus, select:active {
  outline: 0;
  border-color: var(--color-red);
}
.select-box {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%; height: 39px; line-height: 39px;
  background-color: var(--color-white);
  border-radius: 3px; border: 1px solid var(--color-light-gray);
  font-size: var(--font-size-14); font-weight: 400; color: var(--color-black);
  cursor: pointer;
}
.select-box:before {
  content: '';
  width: 35px;
  position: absolute; top: 0px; right: 0px; bottom: 0px;
  background: var(--color-snow);
  border-radius: 0 5px 5px 0;
  pointer-events: none;
}
.select-box:after {
  content: '';
  position: absolute; top: 0; right: 12px; bottom: 0;
  background: var(--color-black);
  -webkit-mask: url('../image/sub/icon-arrow.svg') no-repeat; mask: url('../image/sub/icon-arrow.svg') no-repeat;
  -webkit-mask-size: cover; mask-size: cover;
  width: 10px; height: 10px;
  margin: auto;
  pointer-events: none;
}
.select-box:hover {
  border: 1px solid var(--color-point);
}
.select-box:hover:after {
  background: var(--color-point);
}




/******************************************************************
           root Style Css 
***********************/
/**************************************  db용 root css */
:root {
  /* common color style */
  --color-point:    #22abe1;
  --color-point-s1: #d9f4ff;
  --color-point-s2: #0285b9;

  /* color style */
  --color-black: #050505;
  --color-white: #fff;
  --color-deep-gray: #212121;
  --color-light-black: #595959;
  --color-gray: #898989;
  --color-silver: #aaa;
  --color-light-gray: #D3D3D3;
  --color-light-silver: #EFEFEF;
  --color-snow: #F8F8F8;

  --color-deep-red:  #BC1601;
  --color-red:       #EF3B24;
  --color-coral:     #FF8855;
  --color-light-red: #FEE5DD;

  --color-light-blue: #5692CE;
  --color-blue:       #0066FF;
  --color-deep-blue:  #2C55A2;
  --color-navy:       #041E42;

  /* widht */
  --width-first: 100%;
  --width-second: 49%;
  --width-third: 32%;
  
  /* font family style */
  --font-family-noto: 'Noto Sans KR', sans-serif;
  --font-family-nanmSq: 'NanumSquare', sans-serif;

  /* font size style */
  --font-size-0: 0rem;

  --font-size-32: 2rem;   /* -fS-title-01 */
  --font-size-26: 1.85em;  /* -fS-title-02 */
  --font-size-24: 1.6em;  /* -fS-title-03 */
  --font-size-22: 1.5em;   /* -fS-title-04 */
  --font-size-21: 1.375em;   /* -fS-title-05 */
  --font-size-20: 1.3em;  /* -fS-title-06 */
  --font-size-18: 1.25em; /* -fS-title-07 */
  --font-size-17: 1.125em;  /* -fS-title-08 */

  --font-size-16: 1.0625em;    /* -fS-text-00 */
  --font-size-15: 1rem;  /* -fS-text-01 */
  --font-size-14: .95rem; /* -fS-text-02 */
  --font-size-12: .875rem;  /* -fS-text-03 */
  --font-size-11: .75rem;  /* -fS-text-04 */

  /* Height Row size style */
  --row-150: 150px;
  --row-100: 100px;
  --row-80: 80px;
  --row-50: 50px;
  --row-40: 40px;
  --row-35: 35px;
  --row-30: 30px;
  --row-20: 20px;
  --row-15: 15px;
  --row-10: 10px;
  --row-5: 5px;
  --col-10: 10px;
  --col-20: 20px;
  --col-50: 50px;
}



/*********************************************************************************************
              Mobile Style css
                        *** 500미만 style ***
*****************************/
@media only screen and (max-width:699px) and (min-width:280px){
  /********************** Mobile 해상도 공통 css */
}