
/******************************************************************
           가입단계 Style Css 
***********************/

.trip-wrap .signUp-wrap span.choiceChk.first label {
  border-radius: 5px 0 0 5px;
}
.trip-wrap .signUp-wrap span.choiceChk.second label {
  border-radius: 0 5px 5px 0;
}
.trip-wrap .signUp-wrap span.choiceChk input {
  width: 100%; height: 38px;line-height: 38px;
}
.trip-wrap .signUp-wrap span.choiceChk label {
  width: 100%; height: 38px; line-height: 38px;
  font-size: var(--font-size-14); font-weight: 400;
  text-align: center;
  margin: 0 -1px;
  cursor: pointer;
}

/*********************************************** 1단계 01-1 */
.trip-wrap {
  position: relative;
  width: 100%; min-height: 70%;
  margin: 0;
}
.trip-wrap > h2 {
  font-size: var(--font-size-21); font-weight: 700;
  text-align: center; color: var(--color-white);
  background-color: var(--color-point);
  height: 45px; line-height: 45px;
}
.trip-wrap .title-wrap {
  display: block;
  position: relative;
  width: 90%;
  margin: 1.25rem auto;
  padding-bottom: .625rem;
  border-bottom: 2px solid var(--color-black);
}
.trip-wrap .title-wrap > h3 {
  font-size: var(--font-size-18); font-weight: 400;
  line-height: 28px;
}
.trip-wrap .title-wrap .btn-right {
  position: absolute; top: 0px; right: 0px;
  float: right;
  height: 28px;
}
.trip-wrap .title-wrap .btn-right a.line-info {
  border-radius: 14px;
  width: 68px;
}

.trip-wrap .signUp-wrap {
  width: 90%;
  margin: 1.25rem auto 0;
}
.trip-wrap .signUp-wrap > h3.title {
  font-size: var(--font-size-22); font-weight: 700;
}
.trip-wrap .signUp-wrap > ul.stage-01 {
  width: 100%;
  overflow: hidden;
}
.trip-wrap .signUp-wrap > ul.stage-01 > li {
  position: relative;
  width: 100%;
  margin-top: .625rem;
}
.trip-wrap .signUp-wrap > ul.stage-01 > li.first {
  float: left;
  width: 49%;
  margin-left: 0%;
}
.trip-wrap .signUp-wrap > ul.stage-01 > li.second {
  float: left;
  width: 49%;
  margin-left: 2%;
}

.trip-wrap .signUp-wrap > ul.stage-01 > li.first > .cho-chk {
  width: 52px; height: 39px;
  border-radius: 5px;
  background-color: var(--color-point);
  margin-top: .625rem;
}
.trip-wrap .signUp-wrap > ul.stage-01 > li.first > .cho-chk > span {
  display: flex;
  align-items: center; justify-content: center;
  font-size: var(--font-size-14); font-weight: 400; color: var(--color-white);
  width: 100%; height: 100%;
}

.trip-wrap .signUp-wrap > ul.stage-01 > li a.alink > b {
  color: var(--color-red);
  font-weight: 700;
}
ul.stage-01 > li strong {
  display: block;
  margin-top: 1.25rem;
  font-size: var(--font-size-15); font-weight: 400;
}
ul.stage-01 > li p.type-dash {
  text-indent: -10px;
  padding-left: 10px; padding-top: 7px;
  line-height: 140%; 
  letter-spacing: -0.0625rem;
  font-size: var(--font-size-12); font-weight: 400;
}
ul.stage-01 > li .capt {
  display: block;
  text-indent: -14px;
  padding-left: 24px; padding-top: 0px; 
  line-height: 140%; 
  letter-spacing: -0.0625rem;
  font-size: var(--font-size-12); font-weight: 400;
}
ul.stage-01 > li p.type-dash a.font-link {
  color: var(--color-point); font-weight: 700;
  text-decoration: underline;
  padding: 0 3px;
}
.trip-wrap .signUp-wrap > ul.stage-01 > li.first span.choiceChk {
  margin-left: 1px;
}
ul.stage-01 > li span.choiceChk {
  height: 39px; line-height: 39px; width: 52px;
  margin-top: .625rem;
}
ul.stage-01 > li span.choiceChk.first label {
  border-radius: 5px 0 0 5px;
}
ul.stage-01 > li span.choiceChk.second label {
  border-radius: 0 5px 5px 0;
}
ul.stage-01 > li span.choiceChk label {
  width: 58px; height: 39px; line-height: 39px;
}
ul.stage-01 > li input {
  width: 85%; height: 39px; line-height: 39px;
}
ul.stage-01 > li input.input01 {
  width: 100%; height: 39px; line-height: 39px;
  margin-top: .625rem;
  font-size: var(--font-size-14); font-weight: 400;
}
ul.stage-01 > li .select-box {
  width: calc(100% - 2px); 
  height: 39px; line-height: 39px;
  margin-top: .625rem;
}
ul.stage-01 > li .select-box select {
  height: 37px; line-height: 37px;
  font-size: var(--font-size-14); font-weight: 400; color: var(--color-black);
  padding-left: 5%;
}
ul.stage-01 > li .date_picker {
  position: relative;
  display: inline-block;
  width: calc(100% - 2px);; height: 39px; line-height: 39px;
  box-sizing: border-box;
  padding-right: 10%;  margin-top: .625rem;
  border: 1px solid var(--color-light-gray);
  border-radius: 3px;
  background-color: var(--color-white);
  cursor: pointer;
  z-index: 2;
}
ul.stage-01 > li .date_picker img {
    position: absolute;
    right: 5%;
    top: 50%;
    -wbkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 18px;
    height: 20px;
}
ul.stage-01 > li .date_picker input {
  width: 95%; height: 36px; line-height: 36px;
  padding-left: 5%;
  font-size: var(--font-size-14); font-weight: 400;
}
ul.stage-01 > li .select-box.hour {
  display: inline-block;
  width: calc(28% - 2px);; height: 37px; line-height: 37px;
  margin-left: 2%;
}
.trip-wrap .signUp-wrap > ul.stage-01.sec-col {
  display: flex;
  flex-direction: row; flex-wrap: wrap;
  align-items: flex-start; justify-content: flex-start;
}
.trip-wrap .signUp-wrap > ul.stage-01.sec-col > li {
  width: 40%;
  margin-left: 2%;
}
.trip-wrap .signUp-wrap > ul.stage-01.sec-col > li:nth-child(2n + 1) {
  width: 58%;
  margin-left: 0;
}
ul.stage-01.sec-col > li .select-box.hour {
  width: calc(98% - 1px  - 1px);
}

.trip-wrap .signUp-wrap .button-center {
  margin: 1.875rem auto 0;
}
.trip-wrap .signUp-wrap .button-center a.point {
  height: 48px; line-height: 48px;
  font-size: var(--font-size-14); font-weight: 400;
}
.trip-wrap .signUp-wrap .know-wrap {
  width: 100%;
  margin: 1.875rem auto 0;
  background-color: var(--color-light-silver);
}
.trip-wrap .signUp-wrap .know-wrap .cont {
  padding: 20px 5%;
}
.trip-wrap .signUp-wrap .know-wrap .cont > strong {
  display: block;
  font-size: var(--font-size-18); font-weight: 500;
  margin-bottom: .625rem;
}
.trip-wrap .signUp-wrap .know-wrap .cont p {
  font-size: var(--font-size-14); font-weight: 400; line-height: 140%;
  padding-top: 7px;
}
.trip-wrap .signUp-wrap .know-wrap .cont p.type-dash {
  text-indent: -15px;
  padding-left: 15px;
  font-size: var(--font-size-14); font-weight: 400; line-height: 140%;
}
.trip-wrap .signUp-wrap .know-wrap .cont > ul li {
  font-size: var(--font-size-12); font-weight: 400; line-height: 1.4;
}
.trip-wrap .signUp-wrap .know-wrap .cont > ul li strong {
  display: block;
  font-size: var(--font-size-14); font-weight: 700; line-height: 1.4;
  margin-top: 1.25rem;
}
.trip-wrap .signUp-wrap .know-wrap .cont > ul li.type-dash {
  font-size: var(--font-size-12); font-weight: 400; line-height: 1.4;
  text-indent: -7px;
  padding-left: 7px;
}


/*********************************************** 1단계 01-2 */
.trip-wrap .signUp-wrap .step {
  display: block;
  overflow: hidden;
  margin-top: 1.25rem; padding-bottom: 1.25rem;
  border-bottom: 2px solid var(--color-point);
}
.trip-wrap .signUp-wrap .step.last {
  padding-bottom: 0;
  border-bottom: 0px;
}
.trip-wrap .signUp-wrap .step > h4 {
  font-size: var(--font-size-18); font-weight: 700; line-height: 140%;
}
.trip-wrap .signUp-wrap .step > h4 a.button {
  float: right;
  width: 58px;
  font-size: var(--font-size-14); font-weight: 400;
}
.trip-wrap .signUp-wrap .step > ul > li {
  float: left;
  width: 35%;
  margin-left: 2%;
}
.trip-wrap .signUp-wrap .step > ul > li:nth-child(2n+1) {
  width: 63%;
  margin-left: 0%;
}
.trip-wrap .signUp-wrap .step > ul > li strong {
  display: block;
  font-size: var(--font-size-14); font-weight: 500; line-height: 140%;
  margin: 10px 0 5px;
}
.trip-wrap .signUp-wrap .step > ul > li .input01 {
  width: 90%;
}
.trip-wrap .signUp-wrap .step > ul > li span.choiceChk {
  width: 49%; 
}
.trip-wrap .signUp-wrap .step > ul > li span.choiceChk.first label {
  border-radius: 5px 0 0 5px;
}
.trip-wrap .signUp-wrap .step > ul > li span.choiceChk.second label {
  border-radius: 0 5px 5px 0;
}
.trip-wrap .signUp-wrap .step .button-center {
  margin: 0 auto 0;
}
.trip-wrap .signUp-wrap .step .button-center .bule-line {
  border-radius: 28px;
  width: calc(100% - 2px);
  font-size: var(--font-size-14); font-weight: 500; line-height: 36px;
}

/******************************************** 가입단계 step 02 */
.table-wrap {
  width: 100%;
  margin-top: 1.875rem; margin-bottom: 100px;
}
.table-wrap .tab {
  overflow: hidden;
  background-color: var(--color-light-silver);
   height: 82px; line-height: 82px;
}
.table-wrap .tab button {
  background-color: inherit;
  float: left;
  border: 1px solid var(--color-light-gray); border-right: 0px;
  padding: 0px 0; height: 82px; 
  text-align: center; font-size: var(--font-size-14); font-weight: 400;
  transition: 0.3s;
}
.table-wrap .tab button.tablinks {
  font-weight: 500;
}

.table-wrap .tab button.tablinks input[type=radio] {
  position: absolute; opacity: 0; 
  width: 0; height: 0;
}
.table-wrap .tab button.tablinks input[type=checkbox].checkbox+label, .table-wrap .tab button.tablinks input[type=radio].radiobox+label {
  display: -ms-flexbox; display: flex;
  -ms-flex-align: center; 
  align-items: center;
  margin: 5px 0;
  position: relative;
  cursor: pointer;
}
.table-wrap .tab button.tablinks label.radiobox {
  display: block; position: relative;
  width: 12px; height: 12px; margin: 0 auto; background-color: var(--color-white);
  border: 2px solid var(--color-light-gray); border-radius: 100%;
}

.table-wrap .tab button:only-child {
  width: 100%;
}
.table-wrap .tab button:nth-last-child(2), .table-wrap .tab button:nth-last-child(2)+button {
  width: 50%;
}
.table-wrap .tab button:nth-last-child(3), .table-wrap .tab button:nth-last-child(3)~button {
  width: 33.33%;
}
.table-wrap .tab button:nth-last-child(4), .table-wrap .tab button:nth-last-child(4)~button {
  width: 25%;
}

.table-wrap .tab button:last-child {
  border-right: 1px solid var(--color-light-gray);
}
.table-wrap .tab button:hover {
  background-color: var(--color-light-gray);
}
.table-wrap .tab button.active {
  background-color: var(--color-point);
  border-color: var(--color-point-s2);
  color: var(--color-white);
}
.table-wrap .tab button.active label {
  color: var(--color-white);
}
.table-wrap .tab button.active label.control input {
  background: var(--color-white);
}
.table-wrap .tab button.active label.radiobox {
  border: 2px solid var(--color-white);
}
.table-wrap .tab button.active label.radiobox:after {
  content: "";
  position: absolute; top: 6px; left: 2px; transform: rotate(38deg);
  width: 4px; height: 2px; background-color: var(--color-point);
}
.table-wrap .tab button.active label.radiobox:before {
  content: "";
  position: absolute; top: 5px; left: 4px; transform: rotate(314deg);
  width: 7px; height: 2px; background-color: var(--color-point);
}
.table-wrap .tab button.active:first-child {
  border-right: 1px solid var(--color-point-s2);
}

.table-wrap .tab button.active:first-child {
  border-right: 1px solid var(--color-point-s2);
}
.table-wrap .tabcontent {
  width: 100%;
  font-family: var(--font-family-noto);
  margin-top: .625rem;
}
.table-wrap .tabcontent .caption {
  font-family: var(--font-family-noto);
  font-size: var(--font-size-14);
  padding-top: .625rem;
}
.table-wrap .tabcontent  table tr th,
.table-wrap .tabcontent  table tr td {
  font-family: var(--font-family-noto);
}
.table-wrap .tabcontent  table tr td.select {
  background-color: var(--color-point-s1)
}
.trip-wrap .signUp-wrap .button-center {
  margin: 1.875rem auto 0;
}
.trip-wrap .signUp-wrap .button-center > ul > li {
  float: left;
  width: 49%;
  margin-left: 2%;
}
.trip-wrap .signUp-wrap .button-center > ul > li:first-child {
  margin-left: 0%;
}
.trip-wrap .signUp-wrap .button-center > ul > li a {
  font-size: var(--font-size-14); font-weight: 400;
  height: 48px; line-height: 48px;
}

.bottom-btn-wrap {
  position:fixed; bottom:0; left:0; z-index:30;
  width:100%; 
  display:flex; align-items:center; justify-content:space-between; text-align:center; 
}
.btn-box-area {
  display:flex; align-items:center; 
  width: 100%;
  font-size: var(--font-size-14); font-weight:300; letter-spacing:-.03em;
}
.btn-box-area a {
  display:inline-block;
  width: 50%; height:58px; line-height:58px;
  font-size: var(--font-size-14); font-weight:300; letter-spacing:-.03em;
}


/*
.bottom-btn-wrap {
  table-layout: fixed; 
  position: fixed; bottom:0; left:0; right:0; z-index: 2;
  width: 100%; margin: 0 auto;
  -webkit-transition: all 0.1s linear;
     -moz-transition: all 0.1s linear;
	   -o-transition: all 0.1s linear;
		  transition: all 0.1s linear;
  display: none;
}
.bottom-btn-wrap.on {
  position: relative; top: 20px; left: 0; right: 0;
}
.bottom-btn-wrap > ul > li {
  float: left;
  width: 50%;
}
.bottom-btn-wrap > ul > li:first-child {
  margin-left: 0%;
}
.bottom-btn-wrap > ul > li a {
  font-size: var(--font-size-14); font-weight: 400;
  height: 48px; line-height: 48px;
}
*/


/******************************************** 가입단계 step 03 */
.trip-wrap .signUp-wrap .step03 {
  width: 100%;
  margin-top: 1.25rem; padding-bottom: 1.25rem;
  border-bottom: 2px solid var(--color-point);
}
.trip-wrap .signUp-wrap .step03 h3 {
  font-size: var(--font-size-18); font-weight: 700;
}
.trip-wrap .signUp-wrap .step03 h3 a.button {
  float: right;
  width: 58px;
  font-size: var(--font-size-14); font-weight: 400;
}
.trip-wrap .signUp-wrap .step03 h3 strong.wom  {
  color: var(--color-point);
}
.trip-wrap .signUp-wrap .step03 h3 strong.man {
  color: var(--color-blue2);
}
.trip-wrap .signUp-wrap .step03  > ul > li {
  position: relative;
  width: 100%;
}
.trip-wrap .signUp-wrap .step03  > ul > li.last {
  position: relative;
  width: 100%; height: 100px;
}
.trip-wrap .signUp-wrap .step03  > ul > li strong {
  display: block;
  font-size: var(--font-size-14);
  font-weight: 500;
  line-height: 140%;
  margin: 10px 0 5px;
}.trip-wrap .signUp-wrap .step03 > ul > li strong span.caps {
  font-family: 'Noto Sans KR', sans-serif; color: var(--color-blue);
  font-weight: 400; font-size: var(--font-size-14);
  padding-left: 2%;
}
.trip-wrap .signUp-wrap .step03 > ul > li strong > span.spanCaution {
  font-family: 'Noto Sans KR', sans-serif;
  color: var(--color-point);
  font-weight: 400;
}
.trip-wrap .signUp-wrap .step03  > ul > li.eng input {
  display: inline-block;
  width: 60%;
  margin-left: 2%;
}
.trip-wrap .signUp-wrap .step03  > ul > li.eng input.first {
  width: 38%;
  margin-left: 0%;
}
.trip-wrap .signUp-wrap .step03  > ul > li.resident input {
  display: inline-block;
  width: 47%;
  margin-left: 0%;
  vertical-align: top;
}
.trip-wrap .signUp-wrap .step03  > ul > li.resident span {
  display: inline-block;
  width: 6%;
  text-align: center;
  font-size: var(--font-size-14); font-weight: 400;
  line-height: 39px;
  vertical-align: top;
}
.trip-wrap .signUp-wrap .step03  > ul > li span.choiceChk {
  width: 58px;
}

.trip-wrap .signUp-wrap .step03  > ul > li .nationality {
  position: absolute; top: 35px; left: 120px;
  width: 56%; height: auto; line-height: 41px;
  vertical-align: top;
  margin-left: 2%; margin-bottom: 10px;
}
.trip-wrap .signUp-wrap .step03  > ul > li .nationality .caption {  
  font-size: var(--font-size-12);
  line-height: 160%;
  margin-top: .3125rem; margin-left: -128px;
}
#noneDiv1, #noneDiv2, #noneDiv3 {
  display: none;
}

.trip-wrap .signUp-wrap .step03  > ul > li.tel .select-box {
  display: inline-block;
  width: 28%;
}
.trip-wrap .signUp-wrap .step03  > ul > li.tel .select-box select {
  line-height: 39px; width: calc(100% - 10px); padding-left: 10px;
}
.trip-wrap .signUp-wrap .step03  > ul > li.tel input {
  display: inline-block;
  width: 28%;
}
.trip-wrap .signUp-wrap .step03  > ul > li.tel > span {
  display: inline-block;
  width: 7%; line-height: 39px;
  font-size: var(--font-size-14); font-weight: 400;
  text-align: center; vertical-align: top;
}
.trip-wrap .signUp-wrap .step03  > ul > li.email input {
  display: inline-block;
  width: 45%;
}
.trip-wrap .signUp-wrap .step03  > ul > li.email > span {
  display: inline-block;
  width: 10%; line-height: 39px;
  font-size: var(--font-size-14); font-weight: 400;
  text-align: center; vertical-align: top;
}

/******************************************** 가입단계 step 04 */
.trip-wrap .signUp-wrap .step04 {
  width: 100%;
  margin-top: 1.25rem; padding-bottom: 1.875rem;
  border-bottom: 2px solid var(--color-point);
}
.trip-wrap .signUp-wrap .step04.last {
  padding-bottom: 0;
  border-bottom: 0px;
}
.trip-wrap .signUp-wrap .step04 h3 {
  font-size: var(--font-size-18); font-weight: 700;
}
.trip-wrap .signUp-wrap .step04  > ul > li {
  position: relative;
  width: 100%;
  font-size: var(--font-size-14); font-weight: 400; line-height:140%;
  margin-top: 1.25rem;
  text-indent: -14px;
  padding-left: 14px;
}
.trip-wrap .signUp-wrap .step04 > ul > li strong {
  display: block;
  font-size: var(--font-size-14); font-weight: 400; line-height:140%;
  padding-left: 0px;
  text-indent: 0px;
  word-break: keep-all;
}
.trip-wrap .signUp-wrap .step04 > ul > li.choice {
  float: right;
  font-size: 0;
  text-align: right;
  margin-top: .3125rem;
  text-indent: -0px;
  padding-left: 0px;
}
.trip-wrap .signUp-wrap .step04 > ul > li.choice span.choiceChk {
  width: 58px;
}
.trip-wrap .signUp-wrap .step04 > ul > li span.fc-red,
.trip-wrap .signUp-wrap .step04 > ul > li span.fc-blue {
  cursor: pointer;
}
.trip-wrap .signUp-wrap .step04 .btn-center {
  margin-top: .3125rem;
}
.trip-wrap .signUp-wrap .step04 .btn-center a.button {
  font-size: var(--font-size-14); font-weight: 400;
  height: 48px; line-height: 48px;
}
.trip-wrap .signUp-wrap .step04 .accord-wrap {
  margin-top: .625rem;
}
.accord-wrap .terms {
  position: relative;
  border: 1px solid var(--color-light-gray); border-bottom: 0px;
}
.accord-wrap .terms:last-child {
  border-bottom: 1px solid var(--color-light-gray);
}
.accord-wrap .terms > ul > li {
  float: left;
  width: 44%; height: 32px; line-height:32px;
  font-size: var(--font-size-14); font-weight: 400;
  margin-left: 5%;
}
.accord-wrap .terms > ul > li.first {
  width: calc(100% - 5%); height: 32px; line-height:32px;
  margin-left: 5%;
}
.accord-wrap .terms > ul > li.first a.point-line {
  display: inline-block;
  width: 60%; height: 18px; line-height: 18px;
  font-size: var(--font-size-12);
  margin-left: 2%;
  border-radius: 5px;
}
.accord-wrap .terms > ul > li.second {
  float: right;
  margin: 0 5% 10px 2%;
  font-size: 0;
  text-align: right;
}
.accord-wrap .terms > ul > li a.gray-line {
  height: 32px; line-height: 32px; width: 100px;
  font-size: var(--font-size-12); font-weight: 400;
  border-radius: 5px;
}
.accord-wrap .terms > ul > li.second span.choiceChk,
.accord-wrap .terms .accord .choice span.choiceChk {
  width: 58px;
}
.accord-wrap .terms > ul > li.second span.choiceChk input,
.accord-wrap .terms .accord .choice  span.choiceChk input {
  height: 32px; line-height: 32px;
}
.accord-wrap .terms > ul > li.second span.choiceChk label,
.accord-wrap .terms .accord .choice span.choiceChk label {
  height: 32px; line-height: 32px; min-height: 32px;
  font-size: var(--font-size-12); font-weight: 400;
  text-align: center; margin: 0 -1px;
  cursor: pointer;
}
.accord-wrap .terms .terms-list dt {
  width: calc(100% - 5%); height: 75px; line-height:32px;
  margin-left: 5%;
  font-size: var(--font-size-14); font-weight: 400;
  vertical-align: top;
}
.accord-wrap .terms .terms-list dt span {
  display: inline-block;
  background: var(--color-point);
  -webkit-mask: url('../image/sub/icon-arrow-up.svg') no-repeat; mask: url('../image/sub/icon-arrow-up.svg') no-repeat;
  -webkit-mask-size: cover; mask-size: cover;
  width: 16px; height: 7px;
  vertical-align: top; 
  margin-top:13px; margin-left: 5px;
  transform: rotate( 180deg );
  transition: 0.3s;
}
.accord-wrap .terms .terms-list dt.selected span {
  transform: rotate( 0deg );
  transition: 0.3s;
}
.accord-wrap .terms .btn {
  position: absolute; top: 32px; left: 5%;
}
.accord-wrap .terms .btn a.gray-line {
  height: 32px; line-height: 32px; width: 100px;
  font-size: var(--font-size-12); font-weight: 400;
  border-radius: 5px;
}
.accord-wrap .terms .ChoiceAbs {
  position: absolute; top: 32px; right: 5%;
  font-size: 0;
}
.accord-wrap .terms .ChoiceAbs span.choiceChk {
  width: 58px;
}
.accord-wrap .terms .ChoiceAbs span.choiceChk input {
  height: 32px; line-height: 32px;
}
.accord-wrap .terms .ChoiceAbs span.choiceChk label {
  height: 32px; line-height: 32px; min-height: 32px;
  font-size: var(--font-size-12); font-weight: 400; 
  text-align: center;
  margin: 0 -1px;
  cursor: pointer;
}
.accord-wrap .terms .terms-list dd {
  display: none;
  background-color: var(--color-light-silver);
  transition: 0.3s;
}
.terms-list dd > ul > li {
  width: calc(100% - 8%);
  text-indent: -8%;  
  padding: 10px 0 0; padding-left: 8%;
  font-size: 0;
  border-top: 1px solid var(--color-light-gray);
}
.terms-list dd > ul > li span {
  margin-left: 5%;
  font-size: var(--font-size-12); font-weight: 400;
}
.terms-list dd > ul > li.choice {
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 5%);
  font-size: 0;
  border-top: 0px; padding: 5px 0 10px; padding-right: 5%;
  text-align: right;
}
.accord-wrap .terms .terms-list dd > ul > li.choice span.choiceChk {
  width: 58px;
  margin-left: 0;
}
.accord-wrap .terms .terms-list dd > ul > li.choice span.choiceChk input {
  height: 32px; line-height: 32px;
}
.accord-wrap .terms .terms-list dd > ul > li.choice span.choiceChk label {
  height: 32px; line-height: 32px; min-height: 32px;
  font-size: var(--font-size-12); font-weight: 400; 
  text-align: center;
  margin: 0 -1px;
  cursor: pointer;
}

/******************************************** 가입단계 step 05 */
.trip-wrap .signUp-wrap .step05 {
  width: 100%;
  margin-top: 1.25rem; padding-bottom: 1.875rem;
}
.step05 > ul {
  overflow: hidden;
}
.step05 > ul > li {
  float: left;
  font-size: var(--font-size-14); font-weight: 400;
  line-height: 25px;
}
.step05 > ul > li strong {
  font-weight: 700;
}
.step05 > ul > li:nth-child(2n+1) {
  width: 30%;
}
.step05 > ul > li:nth-child(2n+2) {
  width: 70%;
}
.step05 .box-wrap {
  width: calc(100% - 10%);
  background-color: var(--color-light-silver);
  padding: 30px 5%;
  margin-top: 1.875rem;
}
.step05 .box-wrap strong {
  display: block;
  font-size: var(--font-size-18); font-weight: 700;
  color: var(--color-point);
  text-align: center;
}
.step05 .box-wrap p {
  padding-top: .3125rem;
  font-size: var(--font-size-18); font-weight: 400;
  text-align: center;
}

/******************************************** 가입단계 step 06 */
.trip-wrap .signUp-wrap .step06 {
  width: 100%;
  margin-top: 1.25rem; padding-bottom: 1.875rem
}
.step06 i.icon-finish {
  position: relative;
  display: block;
  width: 150px; height: 150px;
  background-color: var(--color-light-silver);
  border-radius: 100%;
  margin: 0 auto;
}
.step06 i.icon-finish:before {
  content: "";
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background: url('../image/sub/icon-registration.png') no-repeat;
  background-size: 100%;
  width: 64px; height: 64px;
}
.step06 strong {
  display: block;
  font-size: var(--font-size-21); font-weight: 700;
  text-align: center;
  margin-top: 1.875rem;
}
.step06 p {
  padding-top: .3125rem;
  font-size: var(--font-size-14); font-weight: 400;
  text-align: center;
}



/*********************************************** 2022.10.25 input 검색 레이어 추가작업 euni */
.search_win_css{ position: absolute; z-index: 400; padding-top:2px; }
.br_color {
    width: 100%;
    border: 1px solid var(--color-point);
    background-color: #FFF;
	margin-top: -1px;
}
.dis_win_css{ width: calc(100% - 10px); height:190px; padding:10px 0px 0px 10px; }
.slist{ height:100%; overflow:auto; }
.slist > li{ font-size:1em; padding:3px 0 3px 0; }
.slist > li:hover {	background: #fef9e3; }
.br_color{ width: 307px; border:1px solid var(--color-point); background-color:#FFF; }
.swin_close { text-align:right; width:97%; height:35px; padding:0 10px 0 0; }

.winclose {
    width: 70px; height: 25px;
    font-size: var(--font-size-12); text-align: center;
    background-color: var(--color-point);
    border: 1px solid var(--color-point); border-radius: 8px;
    box-sizing: border-box; padding: 0px 0px 2px 0px;
}
.winclose > span { width:100%; height:100%; vertical-align:top; color: var(--color-white); }